---
layout: default
title: Permanent Makeup | IVONNE | (613) 695-6662
---
            <div class="afe4286c">
                <strong>Permanent Makeup That We're Known For</strong>
                <ul>
                    <li>
                        <a href="/permanent-makeup/microblading">Microblading</a>
                    </li>
                    <li>
                        <a href="/permanent-makeup/nano-brows">Nano Brows</a>
                    </li>
                    <li>
                        <a href="/permanent-makeup/lip-tattoo">Lip Tattoo</a>
                    </li>
                    <li>
                        <a href="/permanent-makeup/eyeliner-tattoo">Eyeliner Tattoo</a>
                    </li>
                     <li>
                        <a href="/permanent-makeup/camouflage-tattoo">Camouflage Tattoo</a>
                    </li>
                    <!Service list ends here>
                </ul>
            </div>
                <div class="afe4286c">
                <strong>Book Online</strong>
                </div>
            <ul>
                    <li>
                        <a href="https://app.acuityscheduling.com/schedule.php?owner=21015249">Schedule or Change an Appointment</a>
                    </li>
                <li>
                        <a href="https://ivonne.as.me/?appointmentType=category:Consultations">Schedule A Consultation </a>
                    </li>
            </ul>