---
layout: default
---
<div class="afe4286c">
  <h1 style="margin-top:0px;">Services & Prices</h1>
  <h2 style="margin-top:0px;">Award-Nominated Beauty</h2>
  <ul>
    <h3>Professional Skin Care</h3>

    <table>
      <tr>
        <th>Service</th>
        <th>Price</th>
        <th>Booking Link</th>
      </tr>
      <tr>
        <td>Microneedling</td>
        <td>{{ appointments.microneedling.price }}</td>
        <td><a href="https://ivonne.as.me/?appointmentType=18788146">Book Now</a></td>
      </tr>
      <tr>
        <td>AlumierMD Aha Duo</td>
        <td>$175.00</td>
        <td><a href="https://ivonne.as.me/?appointmentType=18787051">Book Now</a></td>
      </tr>
      <tr>
        <td>Alumier BHA 20</td>
        <td>$175.00</td>
        <td><a href="https://ivonne.as.me/?appointmentType=18789477">Book Now</a></td>
      </tr>
      <tr>
        <td>AlumierMD Enzyme Retexturing</td>
        <td>$175.00</td>
        <td><a href="https://ivonne.as.me/?appointmentType=18789496">Book Now</a></td>
      </tr>
      <tr>
        <td>AlumierMD Glow Peel</td>
        <td>$195.00</td>
        <td><a href="https://ivonne.as.me/?appointmentType=18789511">Book Now</a></td>
      </tr>
      <tr>
        <td>AlumierMD Power Glow Peel</td>
        <td>$205.00</td>
        <td><a href="https://ivonne.as.me/?appointmentType=18789528">Book Now</a></td>
      </tr>
      <td>AlumierMD Renew 30</td>
      <td>$175.00</td>
      <td><a href="https://ivonne.as.me/?appointmentType=18789545">Book Now</a></td>
      </tr>
    </table>

    <h3>Eyebrow Tattoo</h3>

    <table>
      <tr>
        <th>Service</th>
        <th>Price</th>
        <th>Booking Link</th>
      </tr>
      <tr>
        <td>Microblading</td>
        <td>{{ appointments.microblading.price }}</td>
        <td><a href="{{ appointments.microblading.schedulingUrl }}">Book Now</a></td>
      </tr>
      <tr>
        <td>Nano Brows</td>
        <td>$700.00</td>
        <td><a href="https://ivonne.as.me/nano-brows-initial">Book Now</a></td>
      </tr>
      <tr>
        <td>KRASOTA Longer-Lasting Brows</td>
        <td>$900.00</td>
        <td><a href="https://ivonne.as.me/krasota-brows-initial">Book Now</a></td>
      </tr>
    </table>

    <h3>Permanent Makeup</h3>

    <table>
      <tr>
        <th>Service</th>
        <th>Price</th>
        <th>Booking Link</th>
      </tr>
      <tr>
        <td>BB Glow Foundation</td>
        <td>$250.00</td>
        <td><a href="https://ivonne.as.me/bb-glow">Book Now</a></td>
      </tr>
      <tr>
        <td>Beauty Marks or Freckles</td>
        <td>$250.00</td>
        <td><a href="https://ivonne.as.me/?appointmentType=category:Permanent%20Makeup">Book Now</a></td>
      </tr>
      <tr>
        <td>Permanent Eyeliner (Classic)</td>
        <td>$550.00</td>
        <td><a href="https://ivonne.as.me/?appointmentType=18787406">Book Now</a></td>
      </tr>
      <tr>
        <td>Permanent Eyeliner (Lashline)</td>
        <td>$450.00</td>
        <td><a href="https://ivonne.as.me/?appointmentType=18787425">Book Now</a></td>
      </tr>
      <tr>
        <td>Permanent Eyeliner (Smokey)</td>
        <td>$650.00</td>
        <td><a href="https://ivonne.as.me/?appointmentType=18787398">Book Now</a></td>
      </tr>
      <tr>
        <td>Permanent Lip Blush</td>
        <td>$650.00</td>
        <td><a href="https://ivonne.as.me/?appointmentType=18787542">Book Now</a></td>
      </tr>
      <tr>
        <td>Permanent Lip Contour</td>
        <td>$350.00</td>
        <td><a href="https://ivonne.as.me/?appointmentType=18787611">Book Now</a></td>
      </tr>
    </table>

    <h3>Cosmetic Tattoo Removal</h3>

    <table>
      <tr>
        <th>Service</th>
        <th>Price</th>
        <th>Booking Link</th>
      </tr>
      <tr>
        <td>Saline Tattoo Removal</td>
        <td>$200.00</td>
        <td><a href="https://ivonne.as.me/?appointmentType=18787496">Book Now</a></td>
      </tr>
    </table>

    <h3>Camouflage Tattoo</h3>

    <table>
      <tr>
        <th>Service</th>
        <th>Price</th>
        <th>Booking Link</th>
      </tr>
      <tr>
        <td>Scar, Stretch Mark, or Vitiligo Tattoo</td>
        <td>$1,900.00*</td>
        <td><a href="https://ivonne.as.me/camouflage-tattoo-initial-private">Book Now</a></td>
      </tr>
    </table>
    <p>*Starting From Price</p>

    <!Service list ends here>
  </ul>
</div>
<div class="afe4286c">
  <strong>Book Online</strong>
</div>
<ul>
  <li>
    <a href="https://app.acuityscheduling.com/schedule.php?owner=21015249">Schedule or Change an Appointment</a>
  </li>
  <li>
    <a href="https://ivonne.as.me/?appointmentType=category:Consultations">Schedule A Consultation </a>
  </li>
</ul>